* {
  padding: 0%;
  margin: 0%;
  list-style: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - -FATIMA'S PART - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

/*------------------------------------------------ HOMEPAGE CSS -------------------------------------------------------*/

/*------------------------------------------------ GOOGLE FONTS -------------------------------------------------------*/

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 800;
  font-style: normal;
}

.lexend-deca-cus-font {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*---------------------------------------------------- NAVBAR ---------------------------------------------------------*/

.navbar-nav {
  background-color: #181717;
  padding: 15px 25px 15px 25px;

}

.nav-item {
  text-decoration: none;
  list-style: none;
  position: relative;
  left: 250px;
  margin-left: 45px;
  color: white;
  font-weight: bold;
  font-size: medium;
  padding-bottom: 50px;
}

.nav-btn {
  position: relative;
  left: 450px;
  padding: 9px 23px 9px 23px;
  background-color: #d2ac47;
  color: aliceblue;
  border: 2px solid #f5eeee;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

/*-------------------------------------------------- CAROUSEL ---------------------------------------------------------*/

.carousel-caption {
  background-color: #181717b6;
  width: 950px;
}

.carousel-item img {
  height: 520px;
  width: 400px;
}

.vertical-hr {
  width: 2px;
  height: 100px;
  background-color: black;
  border: none;
  transform: rotate(180deg);
  position: absolute;
}

/*---------------------------------------------- ABOUT US HOMEPAGE INTRO ----------------------------------------------*/

.about-us-intro {
  margin: 50px 0px 0px 50px;
  display: inline-block;
  vertical-align: middle;
}

.about-us-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 0px 100px;
  align-items: center;
}

.about-us-button {
  height: 30px;
  width: 30px;
  padding: 3px;
  background-color: #d2ac47;
  text-decoration: none;
  border-radius: 8px;
  color: #fff;
}

/*---------------------------------------------------- SERVICES -------------------------------------------------------*/

.main-services {
  position: relative;
  left: 0px;
  align-items: center;
  text-align: center;
}

.services-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.service-item {
  margin-top: 20px;
}

/*------------------------------------------------- OUR PARTNERS ------------------------------------------------------*/

.partners {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/*----------------------------------------------------- FOOTER --------------------------------------------------------*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 200px;
  bottom: 0px;
  width: 1350px;
  height: 200px;
  background-color: #181717;
  color: aliceblue;
}

.flogo {
  height: 20px;
  width: 20px;
  border-radius: 3px;
}

div.first,
div.third {
  list-style: none;
  text-decoration: none;
}
